<div class="container mt-5">
    <h1>Crear Departamento</h1>

    <form method="post" asp-action="Create">
        <label>Id Departamento</label>
        <input type="number" name="idDepartamento" class="form-control" />
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" />
        <label>Localidad</label>
        <input type="text" name="localidad" class="form-control" />
        <button class="btn btn-success">
            Crear
        </button>
    </form>
</div>